[Desktop Entry]
Type=Application
Name=Seedling Imager Controller
Comment=Autostart Seedling Imager GUI after desktop login
Exec=/bin/bash -lc "/home/sybednar/Seedling_Imager/seedling_imager_controller/start_seedling_imager.sh"
Terminal=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
StartupNotify=false
Categories=Utility;
